body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin: 0;
    }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    padding: 0;
    }

.link {
    text-decoration: none;
}

.header {
    background: #FFFFFF;
        
}
   
 .h1, h2, h3, h4, p, ul {
    margin: 0;
 } 
    
.container.header-container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 32;
    margin-bottom: 32;
    background-color: tomato;
    ;

    }


/*.main-container {
       background-color: #caad2b;
}*/



/*Лого*/
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    width: 145;
}

.logo-nav {
    color: #2196F3;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   color: #ffffff;
}

.header.list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: #691882;

}

.link-header {
    color: #000;
}

 .link-header-nav.link {
    color: #2196F3;
 }
 
.link-header:hover,
.link-header:focus,
.email-telefone:hover,
.email-telefone:focus,
.adress:hover,
.adress:focus,
.mail-tel:hover,
.mail-tel:focus{
    color: #2196F3;
}

.email-telefone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/*Шапка*/

.title-main {
    background: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    padding-bottom: 280px;
    }

.container.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    }

/*Button*/
.button {
    font-family: inherit;
    background: #2196F3;
    color: #ffffff;
    min-width: 200px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer; 
    border-radius: 5px;
    border: 1px;
    padding: 10px 32px;
    }

.button:hover, 
.button:focus {
      background: #ffffff;
      color: #000000;
}

/*Особенности*/

.specific {
    background: #FFFFFF;
    background-color: tomato;
    padding-top: 94px;
}

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.desc-specific {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

/*Чем мы занимаемся*/

.item {
    margin-top: 50px;
    padding-bottom: 94px;
}

.job {
    padding-top: 94px;
    background-color: rgb(190, 213, 38);
}

.subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    }

/*Наша команда*/
.team {
    background: #F5F4FA;
    padding-top: 94px;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    }

.team-proficion {
    line-height: 1.19;
    color: #757575;
    text-align: center;
    letter-spacing: 0.03em;
}
/*footer*/
.footer {
    background: #2F303A;
    color: #ffffff;
}

.footer-adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress {
    color: #FFFFFF;
}

.mail-tel {
    color: rgba(255, 255, 255, 0.6);
}
/*Портфолио*/
.button-navigation {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
}

.button-navigation:hover,
.button-navigation:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.progect {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.desc {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}